.ion-padding {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.ion-card {
  margin-top: 20px;
  margin-left: 50px;
  padding: 30px;
  border-radius:5px;
}
