.ion-title {
    font-weight: bold;    
}
.card {
    margin-top: 20px;
    margin-left: 50px;
    padding: 30px;
    border-radius:5px;
    background-color: #e8dbb4;
}
.ion-card-title {
    display:flex;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 10px;
}
.ion-card-subtitle {
    display:flex;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 10px;
}

.button-descarga {
    display:flex;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}