<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Documento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title> <h1>Descarga tu documento</h1></ion-card-title>
      <ion-card-subtitle
        ><h3>
          Escribe lo que deseas que este en tu documento
        </h3></ion-card-subtitle
      >
      <ion-card-content>
        <ion-item>
          <ion-input
            [(ngModel)]="inputValue"
            placeholder="Escribe..."
          ></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button
        class="button-descarga"
        shape="round"
        expond="block"
        (click)="downloadFile()"
        >Descargar archivo</ion-button
      >
    </ion-card-header>
  </ion-card>
</ion-content>
